{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>form submission </title>
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    </head>
    <body>
        <h1 class="text text-dark text-center">Congratulations</h1>
        <h2 class="text-primary text-center">your form has been submitted</h2>
        <h3 class="text-info text-secondary text-center">Avneesh will contact you shortly</h3>
    </body>
</html>